<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Personalized Food Recommender</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <div class="container">
    <header class="header">
      <h1>Personalized Food Recommender</h1>
      <p class="subtitle">Enter your details and goals to receive top food recommendations tailored to you.</p>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <small>Demo app — not a medical advice tool.</small>
      <small>Developed by Soumya Ranjan patra <small>
    </footer>
  </div>
</body>
</html>
